.nav-tabs{
  background-color: blue;
}

li{
  text-align: center;
}
li  h1{
    font-size: 9pt;
    margin-top: 10px;
    margin-bottom: 0;
}
li img{
  width:30px;
  height: 30px;
}
.nav-tabs{
  background-color:#1D94A4;
  border-bottom: none;
}
/*.tab-content{
    background-color:#303136;
    color:#fff;
    padding:5px
}*/
.nav-tabs > li > a{
  border: medium none;
  color:white !important;
  background-color: #575757;
  height:70px;
}
/*.nav-tabs > li > a:hover{
  background-color: #575757 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #404040 !important;
    border-style: none;
    //border-color: black;
}
